/* par defaut */
.App {
  text-align: center;
}
/* taille des images des caroussels */
.flower{
  height: 500px;
  
}
/* mettre les cartes en display flex */

.cards{
  display: flex;
  justify-content:space-around;
  margin: 8%;
  margin-top: 10px;
  /* padding-bottom: 0% !important; */
  /* background-color: #48acd3; */
}
/* couleur de la police de description */
.des{
  color:rgb(130, 14, 14);
  font-weight:600;
  font-size: x-large;
  font-style: italic;
}
/* liens */
a {
  color: white !important;
  
  }
a:hover{
  color:rgb(130, 14, 14) !important;
}
/* taille des images des cards */
.miniat{
  height: 40%;
  width: 100%;
}
.cb{
  margin: 40px;
  margin-bottom: 0px;
  /* padding: 6%px !important; */
  /* background-color: #93a401; */
  
}
/* taille de limage de localisation */
.gps{
  height: 300px;
  
}
/* taille du texteArea */
.finput{
  height: 200px !important;
  width: 60%  !important;
  margin: 2%;
  margin-top: 2px;
}
/* taille mail et phone */
.finput-mail{
  width: 60% !important;
  margin: 2%;
  margin-top: 2px;
}
/* pour les label du form */
.flabelm{
  color: #ed1144;
  font-size: large;
  margin-right: 88%;  
  margin-left: 2%;
  
}
.flabelph{
  font-size: large;
  color: #db26de;
  margin-right: 82%;  
  margin-left: 1%;
  
}

.flabelctact{
  font-size: large;
  color:rgb(140, 231, 60);
  margin-right: 68%;
  margin-left: 2%;
}
h2{
  color: aqua;
  text-align: start;
  margin-left: 4%;
}
/* bouton validez */
.btsubmit{
  display: flex;
  justify-content:right;
  margin-top: 30px;
  margin-right:35%;
  color: #db26de !important;
  
/* background-color: #ed1144; */
}
/* les cards text */
.ctxt{
  margin: 10%;
  background-color: rgba(50, 5, 122, 0.674);
  border-radius: 50%;
}
/* le titre de linscription */
#inscri{
  margin: 3%;
  margin-bottom: 0;
  padding-bottom: 0;
}
.fofooter img{
  margin-right: 10px;
}
